ul,
li,
p{
margin: 0;
padding: 0;
}
.box{
   padding: 10px;
    outline: 1px solid red;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.list{
    outline: 1px dashed;
    list-style: none;
    display: flex;
}
.item{
    outline: 1px solid yellow;
    padding: 15px;
    margin: 15px;
}
.box